* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: max-content;
  font-family: "Poppins", sans-serif;
  background-image: url("../imgs/chernobilBG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  image-rendering: optimizeQuality;
  image-rendering: pixelated;
  width: 100vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.div-nav-geral {
  display: flex;
  justify-content: space-between;
  max-width: 1650px;
  align-items: center;
  margin: 0 auto;
}
.div-hbo img {
  display: block;
  height: 120px;
  cursor: pointer;
}
.itens-direita {
  display: flex;
  gap: 40px;
}

.itens-direita img {
  display: block;
  height: 40px;
  cursor: pointer;
}

.section01-conteiner {
  padding-top: 200px;
  max-width: 1650px;
  margin: 0 auto;
}

.textos-principais {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textos-principais h1 {
  font-size: 6em;
  font-weight: 900;
}
.textos-principais p {
  max-width: 60ch;
}
.texto-secundario {
  padding-top: 170px;
  max-width: 1650px;
  margin: 0 auto;
}
.texto-secundario h2 {
  font-size: 2rem;
}

.texto-secundario span {
  font-size: 5rem;
  font-weight: 900;
}
.section03-conteiner {
  position: absolute;
  right: 130px;
  top: 132px;
}
.epsodios-conteiner {
  display: flex;
  flex-direction: column;
}

.section03-conteiner .tempo {
  text-align: end;
}

.section03-conteiner .ep {
  text-align: right;
}
.imgs-ep-geral img {
  width: 200px;
  border-radius: 10px;
}
.ep-geral {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.ep-geral .numeros-geral {
  grid-row: 1 / 3;
}

.div-hbo img:hover,
.itens-direita img:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

@media (max-width: 1800px) {
  body {
    height: 100vh;
  }
  .section03-conteiner {
    top: 92px;
  }

  .div-nav-geral {
    max-width: 1550px;
  }
  .div-hbo img {
    height: 110px;
  }
  .itens-direita {
    display: flex;
    gap: 40px;
  }

  .section01-conteiner {
    padding-top: 170px;
    max-width: 1550px;
  }

  .textos-principais h1 {
    font-size: 5.4em;
    font-weight: 900;
  }
  .textos-principais p {
    max-width: 60ch;
    margin-top: -20px;
  }
  .texto-secundario {
    padding-top: 170px;
    max-width: 1550px;
    margin: 0 auto;
  }
  .texto-secundario h2 {
    font-size: 2rem;
  }

  .texto-secundario span {
    font-size: 5rem;
    font-weight: 900;
  }
}

@media (max-width: 1800px) {
  .div-nav-geral {
    max-width: 1350px;
    margin: 0 auto;
  }
  .section01-conteiner,
  .texto-secundario {
    max-width: 1350px;
  }
}
@media (max-width: 1387px) {
  .div-nav-geral {
    max-width: 1250px;
    margin: 0 auto;
  }
  .section01-conteiner,
  .texto-secundario {
    max-width: 1250px;
  }
  .textos-principais h1 {
    font-size: 4.5em;
    font-weight: 900;
  }
  .section03-conteiner {
    top: 120px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .div-nav-geral {
    max-width: 950px;
  }
  .section01-conteiner,
  .texto-secundario {
    max-width: 950px;
  }
  .textos-principais h1 {
    font-size: 3.3rem;
  }
  .textos-principais p {
    font-size: 1rem;
    padding-top: 20px;
    max-width: 50ch;
    font-weight: 500;
  }
  .texto-secundario h2 {
    font-size: 1.2rem;
  }
  .imgs-ep-geral img {
    width: 160px;
  }
  .numeros-geral h1 {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div-nav-geral {
    max-width: 720px;
  }
  .section01-conteiner,
  .texto-secundario {
    max-width: 720px;
  }
  .textos-principais h1 {
    font-size: 2.8rem;
  }
  .textos-principais p {
    font-size: 0.9rem;
    padding-top: 20px;
    max-width: 50ch;
    font-weight: 500;
  }
  .texto-secundario h2 {
    font-size: 1.2rem;
  }
  .imgs-ep-geral img {
    width: 160px;
  }
  .numeros-geral h1 {
    font-size: 1.2rem;
  }
  .section03-conteiner {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .section03-conteiner {
    display: none;
  }
  .div-nav-geral {
    max-width: 720px;
    padding-inline: 20px;
  }
  .section01-conteiner,
  .texto-secundario {
    max-width: 520px;
  }
  .textos-principais h1 {
    font-size: 3.2rem;
  }
  .textos-principais p {
    font-size: 0.9rem;
    padding-top: 20px;
    max-width: 50ch;
    font-weight: 500;
  }
  .texto-secundario h2 {
    font-size: 1.2rem;
  }
  .imgs-ep-geral img {
    width: 160px;
  }
  .numeros-geral h1 {
    font-size: 1.2rem;
  }
  .section03-conteiner {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .section03-conteiner {
    display: none;
  }
  .div-nav-geral {
    max-width: 720px;
    padding-inline: 20px;
  }
  .section01-conteiner,
  .texto-secundario {
    padding-inline: 20px;
    max-width: 520px;
  }
  .textos-principais h1 {
    font-size: 3.2rem;
  }
  .textos-principais p {
    font-size: 0.9rem;
    padding-top: 20px;
    max-width: 50ch;
    font-weight: 500;
  }
  .texto-secundario h2 {
    font-size: 1.2rem;
  }
  .imgs-ep-geral img {
    width: 160px;
  }
  .numeros-geral h1 {
    font-size: 1.2rem;
  }
  .section03-conteiner {
    display: none;
  }
}
